<!-- navbar -->
<app-navbar></app-navbar>
<!-- /navbar -->
<!-- Sidebar -->
<app-sidebar></app-sidebar>
<!--/sidebar-->
<!-- Main -->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <!-- Breadcrumb -->
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">
        <em class="fa fa-home"></em>
      </a></li>
      <li class="active">Dashboard</li>
    </ol>
  </div>
  <!-- /breadcrumb -->
  <!-- Contenido -->
  <router-outlet></router-outlet>
  <!-- /contenido -->
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- /footer -->
</div>
<!-- /main -->